.root {
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    background-color: #1e1e1e;
    border: 0px solid black;
    padding: 5% 0px 0px 5%;
    text-align: start;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 0px 10%;
}

.logoImg {
    width: 100px;
}

.listcategory {
    border: 0px solid black;
    border-top: 0px solid black;
    padding-top: 1px;
    text-align: start;
    color: #777;
    padding-bottom: 5%;

}

.hrUnderlineListCategory {
    width: 100%;
    color: #777;
}

.li1 {}

.li2 {}

.li3 {
    padding-bottom: 5%;
}

.list {
    list-style-type: none;
    gap: 20px;
    padding-bottom: 5%;

}

.title {
    margin-top: 0px;
    padding: 5% 0% 0%;
    color: #777;
}

.hr {
    color: #777;

}

.list {
    text-indent: 0;
    text-align: start;
    direction: initial;
    list-style-position: inherit;
    list-style-type: none;
    padding: 0% 0% 5%;
    gap: 20px 20px;
}

.hr {
    background-color: #777;
    border: 1px solid #777;
}

.listItem {
    text-align: start;
    text-indent: 0;
    padding: 7% 0% 3%;
    padding-bottom: 5%;

}