.root {
    flex-direction: row;
    margin: 0% 0.5%;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
}

.c1 {}

.c2 {}

.c3 {}

.c4 {}

.c5 {}

.c6 {}

.c7 {}

.c8 {}

.r1 {
    display: flex;
}

.r2 {
    display: flex;
}